integromat/10_SendCaseToSocialWorker.json
{
    "name": "Send Case to SW",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 172874,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -586,
                    "y": 15
                },
                "restore": {
                    "hook": {
                        "label": "send-case-to-sw"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "caseId",
                        "type": "number"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "postgres:StoredProcedure",
            "version": 2,
            "parameters": {
                "ignore": false,
                "spname": "\"unemployment_service\".\"AggCase\"",
                "account": 648539
            },
            "mapper": {
                "@01:integer": "{{1.caseId}}"
            },
            "metadata": {
                "designer": {
                    "x": -286,
                    "y": 15
                },
                "restore": {
                    "spname": {
                        "label": "unemployment_service.AggCase"
                    },
                    "account": {
                        "label": "My PostgreSQL connection"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "ignore",
                        "type": "boolean",
                        "label": "Ignore returned data",
                        "required": true
                    },
                    {
                        "name": "spname",
                        "type": "select",
                        "label": "Function",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "@01:integer",
                        "type": "integer",
                        "label": "_id_case"
                    }
                ],
                "interface": [
                    {
                        "name": "AggCase",
                        "type": "text",
                        "label": "AggCase"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-email:ActionSendEmail",
            "version": 1,
            "parameters": {
                "account": 651769
            },
            "mapper": {
                "cc": [],
                "to": [
                    "stefan.eggenschwiler@students.fhnw.ch"
                ],
                "bcc": [],
                "html": "Hello,<br><br>\n\nYou have a new case to review:<br><br><br>\n\n<td style=\"border-left: solid 1px #e9e9e9;>id_case: {{get(2.AggCase; \"id_case\")}}<br>\nDate of Unemployment: {{get(2.AggCase; \"date_of_unemployment\")}}<br>\nReason of Unemployment: {{get(2.AggCase; \"reason_of_unemployment\")}}<br>\nBrutto Salary: {{get(2.AggCase; \"brutto_salary\")}}<br>\nDuration of Employment: {{get(2.AggCase; \"duration_of_employment\")}}<br>\nWorkload: {{get(2.AggCase; \"workload\")}}%<br><br></td>\n\nPlease review the case as soon as possible.<br>\nLet's create make new workforce!",
                "subject": "[RAV-Basel] New Case Assignment",
                "attachments": []
            },
            "metadata": {
                "designer": {
                    "x": 14,
                    "y": 15
                },
                "restore": {
                    "cc": {
                        "mode": "chose",
                        "items": []
                    },
                    "to": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bcc": {
                        "mode": "chose",
                        "items": []
                    },
                    "account": {
                        "label": "My Google connection (info.ravbasel@gmail.com)"
                    },
                    "attachments": {
                        "mode": "chose",
                        "items": []
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": " ",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "labels": {
                            "add": "Add a recipient",
                            "edit": "Edit a recipient"
                        },
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments",
                        "labels": {
                            "add": "Add an attachment",
                            "edit": "Edit an attachment"
                        }
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient",
                        "labels": {
                            "add": "Add a copy recipient",
                            "edit": "Edit a copy recipient"
                        }
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient",
                        "labels": {
                            "add": "Add a blind copy recipient",
                            "edit": "Edit a blind copy recipient"
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "postgres:StoredProcedure",
            "version": 2,
            "parameters": {
                "ignore": false,
                "spname": "\"unemployment_service\".\"UpdateCaseStatus\"",
                "account": 648539
            },
            "mapper": {
                "@01:integer": "{{1.caseId}}",
                "@02:character": "pending for approval (by the social worker)"
            },
            "metadata": {
                "designer": {
                    "x": 314,
                    "y": 15
                },
                "restore": {
                    "spname": {
                        "label": "unemployment_service.UpdateCaseStatus"
                    },
                    "account": {
                        "label": "My PostgreSQL connection"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "ignore",
                        "type": "boolean",
                        "label": "Ignore returned data",
                        "required": true
                    },
                    {
                        "name": "spname",
                        "type": "select",
                        "label": "Function",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "@01:integer",
                        "type": "integer",
                        "label": "_id_case"
                    },
                    {
                        "name": "@02:character",
                        "type": "text",
                        "label": "_status"
                    }
                ],
                "interface": []
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}