integromat/7_ReceiveEmployerInformation.json
{
    "name": "Update Case from Google Form",
    "flow": [
        {
            "id": 1,
            "module": "google-forms:TriggerNewRow",
            "version": 1,
            "parameters": {
                "account": 651769,
                "sheetId": "1lmahXfdvgNg1bVCOb5EediTmPSxw_jH5EyApKl2O7xY",
                "maxResults": 2,
                "worksheetId": "o5o66ia"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -35,
                    "y": 0
                },
                "restore": {
                    "account": {
                        "label": "My Google connection (info.ravbasel@gmail.com)"
                    },
                    "sheetId": {
                        "label": "RAV employer survey (Antworten)"
                    },
                    "worksheetId": {
                        "label": "Formularantworten 1"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "File",
                        "required": true
                    },
                    {
                        "name": "worksheetId",
                        "type": "select",
                        "label": "Worksheet",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "Row order"
                    },
                    {
                        "name": "rowId",
                        "type": "text",
                        "label": "Row ID"
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet ID"
                    },
                    {
                        "name": "sheetUrl",
                        "type": "url",
                        "label": "Sheet URL"
                    },
                    {
                        "name": "columnzeitstempel",
                        "type": "text",
                        "label": "Zeitstempel (zeitstempel)"
                    },
                    {
                        "name": "columncaseid",
                        "type": "text",
                        "label": "Case ID: (caseid)"
                    },
                    {
                        "name": "columne-mail",
                        "type": "text",
                        "label": "E-mail:  (e-mail)"
                    },
                    {
                        "name": "columnreasonforumemployment",
                        "type": "text",
                        "label": "Reason for umemployment (reasonforumemployment)"
                    },
                    {
                        "name": "columnbruttosalary",
                        "type": "text",
                        "label": "Brutto Salary (bruttosalary)"
                    },
                    {
                        "name": "columnrelatedfileupload",
                        "type": "text",
                        "label": "Related file upload: (relatedfileupload)"
                    },
                    {
                        "name": "columnworkload",
                        "type": "text",
                        "label": "Workload % (workload)"
                    },
                    {
                        "name": "columndurationofemployment",
                        "type": "text",
                        "label": "Duration of Employment (durationofemployment)"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "postgres:StoredProcedure",
            "version": 2,
            "parameters": {
                "ignore": false,
                "spname": "\"unemployment_service\".\"UpdateCase\"",
                "account": 648539
            },
            "mapper": {
                "@01:integer": "{{1.columncaseid}}",
                "@04:smallint": "{{1.columnworkload}}",
                "@05:smallint": "{{1.columndurationofemployment}}",
                "@03:character": "{{1.columnreasonforumemployment}}",
                "@02:double precision": "{{1.columnbruttosalary}}"
            },
            "metadata": {
                "designer": {
                    "x": 286,
                    "y": 3
                },
                "restore": {
                    "spname": {
                        "label": "unemployment_service.UpdateCase"
                    },
                    "account": {
                        "label": "My PostgreSQL connection"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "ignore",
                        "type": "boolean",
                        "label": "Ignore returned data",
                        "required": true
                    },
                    {
                        "name": "spname",
                        "type": "select",
                        "label": "Function",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "@01:integer",
                        "type": "integer",
                        "label": "_id"
                    },
                    {
                        "name": "@02:double precision",
                        "type": "number",
                        "label": "_brutto_salary"
                    },
                    {
                        "name": "@03:character",
                        "type": "text",
                        "label": "_unemployment_reason"
                    },
                    {
                        "name": "@04:smallint",
                        "type": "integer",
                        "label": "_workload"
                    },
                    {
                        "name": "@05:smallint",
                        "type": "integer",
                        "label": "_duration_of_employment"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "postgres:StoredProcedure",
            "version": 2,
            "parameters": {
                "ignore": false,
                "spname": "\"unemployment_service\".\"UpdateCaseStatus\"",
                "account": 648539
            },
            "mapper": {
                "@01:integer": "{{1.columncaseid}}",
                "@02:character": "in process\n"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "spname": {
                        "label": "unemployment_service.UpdateCaseStatus"
                    },
                    "account": {
                        "label": "My PostgreSQL connection"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "ignore",
                        "type": "boolean",
                        "label": "Ignore returned data",
                        "required": true
                    },
                    {
                        "name": "spname",
                        "type": "select",
                        "label": "Function",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "@01:integer",
                        "type": "integer",
                        "label": "_id_case"
                    },
                    {
                        "name": "@02:character",
                        "type": "text",
                        "label": "_status"
                    }
                ],
                "interface": []
            }
        },
        {
            "id": 5,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 59661
            },
            "mapper": {
                "messageName": "Message_ReceiveInformation",
                "correlationKeys": {
                    "caseId": {
                        "type": "long",
                        "value": "{{1.columncaseid}}"
                    }
                }
            },
            "metadata": {
                "designer": {
                    "x": 898,
                    "y": -1
                },
                "restore": {
                    "type": {
                        "label": "message-receive-information"
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "messageName",
                        "type": "text"
                    },
                    {
                        "name": "correlationKeys",
                        "spec": [
                            {
                                "name": "caseId",
                                "spec": [
                                    {
                                        "name": "value",
                                        "type": "number",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "multiline": false
                                    }
                                ],
                                "type": "collection",
                                "label": "caseId"
                            }
                        ],
                        "type": "collection",
                        "label": "correlationKeys"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "qs": [],
                "url": "https://appenzell.herokuapp.com/rest/message",
                "data": "{{5.json}}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "shareCookies": false,
                "followRedirect": true,
                "useQuerystring": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1179,
                    "y": -8
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": []
                    },
                    "bodyType": {
                        "label": "Raw"
                    },
                    "contentType": {
                        "label": "JSON (application/json)"
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete"
                            ]
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}